.cardLogin {
    width: auto;
    max-width: 30em;

    

    .btnLogin {
        background-color: #198754;
        border-color: #198754;
        width: 100%;

        &:hover {
            background-color: #105535;
            border-color: #105535;
        }
    }

    
}