.navigationBar {
    background-color: #198754;
    text-align: center;

    .brasao {
        height: auto;
        max-height: 5em;
    }

    a {
        color: white;
        border-radius: 5px;
        
        &:hover {
            color: white;
            background-color: #015e36;
        }
    }

    .dropdown {
        margin: auto;
        margin-top: 0.15em;

        .show {
            background: #198754;
        }
    }

    .dropdown-item {
        background-color: #198754;
        color: white;
    }

    .dropdown-menu .dropdown-item:hover {
        background-color: #015e36;
        color: white;
    }

    .btnLogin, .btnLogout{
        background-color: #015e36;
        border-color: #015e36;

        &:hover{
            background-color: #004125;
            border-color: #004125;
        }
    }

}